<div>
  <label for="title">Todo: </label>
  <input [(ngModel)]="title" type="text" placeholder="Add a new task…">

  <button (click)="addNewTodo()">Add Todo</button>
</div>

<div>
  <button (click)="todoService.removeAll()">Remove All Todos</button>

  <div>
    <button (click)="setStatus('all')">All</button>
    <button (click)="setStatus('active')">Active</button>
    <button (click)="setStatus('done')">Done</button>
  </div>

  <div>
    <p> Active: {{ remainingCount() }}</p>
    <p> Done: {{ completedCount() }}</p>
    <p> All: {{ allCount() }}</p>
  </div>

  @for (todo of filteredTodos(); track todo.id) {
    <div>
      <ul>
        <li [class.done]="todo.done">
          {{ todo.title }} <input type="checkbox" (click)="todoService.toggle(todo.id)"/>
          <button (click)="todoService.remove(todo.id)">Remove</button>
        </li>
      </ul>
    </div>
  }
</div>

